
/*------------------ page-wide -------------------*/

#page-background-glare-wrapper {
   position: fixed;
   width:100%;
}

#page-background-glare {
   position: relative;
   top: 0;
   left: 0;
   max-width: 307px;
   min-width: 1000px;
   height: 321px;
   margin-right: auto;
   background-image: url('../images/page-glare.png');
   background-repeat: no-repeat;
   background-position: left top;
}

#html5canvas {
    position: absolute;
    top:  0;
    left: 0;
    z-index: 9;
    pointer-events: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/transparent.png', sizingMethod='scale');
    background:none !important;
    display: block;
}



/*---------------- zone-user ----------------------*/

#zone-user {
}

/*------------------ zone-branding -----------------------*/

#zone-branding {
}

#region-branding {
    background-image: url('../images/region-branding-bg.png');
    background-size: 100% 152px;
    height: 154px;
}

.logo-img {
    margin-top: 7px;
    height: 113px;
}

.logo {
    height: 100%;
}

.site-name {
    position: relative;
    top: -2px;
}

.site-slogan {
    position: relative;
    top: 0;
}

/*--------------------- zone-menu-------------------*/

#zone-menu {
    background-image: url('../images/zone-menu-bg.png');
}

#block-system-main-menu {
    float:right;
}

#block-system-main-menu .menu li {
    display: inline;
}

#block-system-main-menu .menu a {
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #1a0806;
    display:inline-block;
    font-size:13px;
    padding:6px 24px;
    width: auto;
    text-shadow:1px 1px 0 #4f3e3d;
}


/*------------------ zone-content ---------------*/

#zone-content {
    color: #f7d3ff;
}

#region-sidebar-first #edit-submit {
    margin-top: 0;
}

#region-sidebar-second {
    margin-top:inherit;
}



