
/*------------------ zone-branding -----------------------*/

#zone-branding {
    margin-top: 0;
    height: 100%;
}

#region-branding {
    background-position: top left;
    background-size: 830px auto;
}
